*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
/app/externalNativeBuild
google-services.json
app/src/main/res/values/secrets.xml
app/src/debug/res/values/secrets.xml
.idea/assetWizardSettings.xml
.idea/render.experimental.xml
.cxx/
