<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--required for Android P-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--required for Android Q-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <!--required for Android 12 (API 31)-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--required for Android 14 (API 34)-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application
        android:name="io.pijun.george.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:enableOnBackInvokedCallback="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name="xyz.zood.george.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.pijun.george.WelcomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme" />
        <activity
            android:name="io.pijun.george.LogActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />
        <activity android:name="xyz.zood.george.AvatarCropperActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- BEGIN SERVICES -->
        <service android:name="io.pijun.george.service.FcmMessageReceiver"
            android:exported="false"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="io.pijun.george.service.TimedShareService" android:foregroundServiceType="location" android:exported="false" />
        <service android:name="xyz.zood.george.service.LocationService" android:foregroundServiceType="location" android:exported="false" />
        <service android:name="xyz.zood.george.service.ScreamerService" android:foregroundServiceType="location" android:exported="false" />
        <!-- END SERVICES -->

        <!-- BEGIN RECEIVERS -->
        <receiver android:name="io.pijun.george.service.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.PassiveLocationReceiver" />
        <receiver android:name=".receiver.UserActivityReceiver" />
        <!-- END RECEIVERS -->

        <!-- BEGIN PROVIDERS -->
        <provider
            android:authorities="xyz.zood.george.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- END PROVIDERS -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--disable FCM analytics-->
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
        <!--disable google advertising id usage in the app-->
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
    </application>

</manifest>