<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.pijun.george">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MapActivity"
            android:theme="@style/MapTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/WelcomeTheme" />
        <activity
            android:name=".FriendsActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LogActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />

        <!-- BEGIN SERVICES -->
        <service android:name=".service.FcmMessageReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.FcmTokenMonitor">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.FcmTokenRegistrar" />
        <service android:name=".service.LocationUploadService" />
        <service android:name=".service.OscarTasksService" />
        <service android:name=".service.MessageQueueService" />
        <service android:name=".service.LocationListenerService" />
        <service android:name=".service.LimitedShareService" />
        <service android:name=".service.LocationJobService" android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".service.BackupDatabaseJob" android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".service.OscarJobService" android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".service.MessageQueueJobService" android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- END SERVICES -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBIvDSmVJ-BplWOWnqCqvQo9V14sJhPn0E" />
    </application>

</manifest>