<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.zood.george">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--required for Android P-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="io.pijun.george.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:extractNativeLibs="false"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name="xyz.zood.george.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.pijun.george.WelcomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme" />
        <activity
            android:name="io.pijun.george.LogActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />
        <activity android:name="xyz.zood.george.AvatarCropperActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="xyz.zood.george.SafetyNumberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- BEGIN SERVICES -->
        <service android:name="io.pijun.george.service.FcmMessageReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="io.pijun.george.service.TimedShareService" />
        <service android:name="io.pijun.george.service.LocationJobService" android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name="io.pijun.george.service.BackupDatabaseJob" android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name="io.pijun.george.service.PositionService" />
        <service android:name="xyz.zood.george.service.ScreamerService" />
        <!-- END SERVICES -->

        <!-- BEGIN RECEIVERS -->
        <receiver android:name="io.pijun.george.service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="io.pijun.george.receiver.PassiveLocationReceiver" />
        <receiver android:name="io.pijun.george.receiver.UserActivityReceiver" />
        <!-- END RECEIVERS -->

        <!-- BEGIN PROVIDERS -->
        <provider
            android:authorities="xyz.zood.george.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- END PROVIDERS -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--disable FCM analytics-->
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
        <!--disable google advertising id usage in the app-->
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
    </application>

</manifest>